@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

body {
    background: linear-gradient(purple, darkblue);
    height: 100vh;
}

.wrapper {
    height: 100%;
}

.main {
   display: flex;
   flex-direction: column;
   
}

.button {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
	width: 200px;
	margin: 0 auto;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	background: linear-gradient(to right, orangered, orange);
	cursor: pointer;
    margin-bottom: 10px;
    
    
}

.input {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-size: 30px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 35px;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
	border-radius: 50px;
    opacity: 0.7;

    
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

section {
    width: 300px;
    background-color: white;
    border-radius: 25px;

}

.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    opacity: 0.9;

}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submit {
    text-align: center;
    text-justify: center;
    padding-bottom: 9px;

}

.alternative {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
   
}
.alternativo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}

.zero {
    width: 350px!important;
    height: 100%;
    border-radius: 25px!important;
    margin: 0;


}
@media only screen and (min-width: 768px) {
    
    
    .container {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 30px;
    }

    .wrapper {
        height: 100vh;
    }

    img {
        height: 350px;
    }
    .zero {
        width: 600px!important;
        height: 100%;
        border-radius: 25px!important;
        margin: 0;


    }

}